*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
:root{
    --main-color:hsl(300, 43%, 22%);   
}
body{
    font-family: 'Spartan', sans-serif;
}

.header_rate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    max-width: 65%;
}
.header_rate .header{
    max-width: 23rem;
}
.header_rate .header h1 {
    font-size: 35px;
    color:var(--main-color);
}
.header_rate .header p {
    margin-top: 15px;
    font-size: 12px;
    color: #777;
    font-weight: 500;
    line-height: 1.6;
}
.header_rate .rate div {
    background-color: #f5f5f0;
    width: 370px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
}
.header_rate .rate div:nth-child(2){
    margin-left: 40px;
}
.header_rate .rate div:last-child{
    margin-left: 80px;
}
.header_rate .rate div span{
    margin-right: 20px;
    margin-left: 10px;
}
.buyer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px auto;
    gap: 20px;
    max-width: 65%;
}
.buyer div{
    background-color:var(--main-color);
}